@import url('./reset.css');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/*=============================================*/
                    /*Generic*/
* {
    font-family: "Ubuntu Mono";
    font-weight: normal;
    font-style: normal;

    line-height: 1.5;
}
   
body{
    color: #ffffff;
    background-color: #202124;
}

p{
    color: #b2b2b2;
}

mark{
    background-color: rgba(255, 255, 255, 0.1);
}

/*=================================*/
          /*Header*/

#header{

    max-width: 1920px;

    border-bottom: 1px solid #D72E82;;
    color: #ffffff;

    background: linear-gradient(transparent, rgba(255, 255, 255, 0.1));

    margin: auto;
}

#header h1{

    max-width: 700px;
    margin: auto;

    font-weight: bold;

    text-transform: uppercase;
    text-align: center;
    letter-spacing: 15px;
    line-height: 70px;

    word-wrap: break-word;

}

/*=================================*/
          /*list info*/

.list_info{

    max-width: 1920px;
    margin:auto;

    border-bottom: 1px solid #D72E82;
    border-top: 1px solid #D72E82;
}

.list_info h2{

    color: #D72E82;

    max-width: 800px;
    margin: auto;

    font-size: 35px;
    letter-spacing: 12px;
    line-height: 40px;

    text-transform: uppercase;
    text-align: center;

    word-wrap: break-word;

}

/*=================================*/
          /*footer*/

footer {

    max-width: 1920px;
    height: 80px;

    padding-top: 30px;
    margin: auto;

    border-top: 1px solid #D72E82;
}

footer p{

    text-transform: capitalize;
    text-align: center;
}

footer a{

    color: #D72E82;

    text-decoration: none;
}
